<section id="main-content">
  <section class="wrapper">
    <!--overview start-->
    <div class="row">
      <!--Loader start hear-->
      <ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "large" color = "#fff" type = "ball-scale-multiple" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>
      <div class="col-md-12 portlets">
        <div class="panel panel-default">
          <div class="panel-heading">
            <div class="pull-left">Awb Series</div>

            <div class="clearfix"></div>
          </div>
          <div class="panel-body">
            <div class="padd">
              <div class="form quick-post">
                <!-- Edit profile form (not working)-->
                <form class="form-horizontal" [formGroup]="form" (ngSubmit)="onSubmit()" >
                  <!-- Title -->
                  <div class="form-group">
                    <div class="row">
                      <div class="col-lg-2 col-lg-offset-1"> <span style="color:green;">Total Records = {{responseBody.totalRecord}}</span> </div>
                      <div class="col-lg-2"> <span style="color:green;">Success Records = {{responseBody.successRecord}}</span></div>
                      <div class="col-lg-2"> <span style="color:red;">Error Records = {{responseBody.errorRecord}}</span></div>
                      <div class="col-lg-4">
                        <div class="row">
                          <div class="col-lg-6"><button [class.col-lg-6]="" type="button" class="btn btn-primary" (click)="downloadSuccessFile()">Download Success File</button></div>
                          <div class="col-lg-6"><button type="button" class="btn btn-danger" (click)="downloadErrorFile()">Download Error File</button></div>
                        </div>
                      </div>
                    </div><br>
                    <!--Progress Bar start hear-->
                    <div class="row" *ngIf="isUploadStart">
                      <div class="col-lg-10 col-lg-offset-1">
                        <div class="progress" style="height: 20px;">
                          <div class="progress-bar progress-bar-striped progress-bar-animated" style="{{'width:' + uploadPresentage +'%'}}; height: 20px;"> {{uploadPresentage+'%'}}</div>
                        </div>
                      </div>
                    </div>
                    <!--Progress Bar end hear-->
                    <div class="row">
                      <input type="hidden" class="form-control" formControlName="uploadId" value="awbSeriesBulk">
                      <div class="col-lg-1"></div>
                      <div class="col-lg-4">
                        <label class="control-label" for="title">Select Upload File<span style="color:red">*</span></label>
                        <input type="file" class="form-control" name="file" accept=".xlsx, .xls" (change)="onFileChange($event)">
                      </div>
                      <div class="col-lg-4"><br>
                        <div class="row">
                          <div class="col-lg-6"><button type="submit" class="btn btn-primary" [disabled]="isUploadButtonDisabled">Upload</button></div>
                          <div class="col-lg-6"><button type="button" class="btn btn-primary" (click)="downloadTemplate()">Download Template</button></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!--<div class="form-group">
                    &lt;!&ndash; Buttons &ndash;&gt;
                    <div class="col-lg-offset-2 col-lg-9">
                      <button type="submit" class="btn btn-primary" >Upload</button>
                    </div>
                  </div>-->
                </form>
              </div>
            </div>
          </div>

        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
            <div class="pull-left">Generate Awb Series</div>
            <div class="clearfix"></div>
          </div>
          <div class="panel-body">
            <div class="padd">
              <div class="form quick-post">
                <!-- Edit profile form (not working)-->
                <form class="form-horizontal" [formGroup]="awbForm"  (ngSubmit)="generateClientAwbSeries()" >
                  <!-- Title -->
                  <div class="form-group">
                    <div class="row">
                      <div class="col-lg-3 col-lg-offset-1">
                        <label class="control-label" >Client Name<span style="color:red">*</span></label>
                        <select class="form-control" formControlName="client">
                          <option value="">- Choose Client -</option>
                          <option *ngFor="let item of clientList; let i = index" [value]="item.clientCode" >
                            {{item.clientCode}}
                          </option>
                        </select>
                      </div>
                      <div class="col-lg-3">
                        <label class="control-label " for="title">Payment Type<span style="color:red">*</span></label>
                        <select class="form-control"formControlName="paymentTypes">
                          <option value="">- Choose paymrnt type -</option>
                          <option [ngValue]="paymrntType" *ngFor="let paymrntType of paymentTypeList" >{{paymrntType}}</option>
                        </select>
                      </div>
                      <div class="col-lg-3 ">
                        <label class="control-label" >Total Series Count<span style="color:red">*</span></label>
                        <div *ngIf="awbForm.controls['totalSeriesCount'].touched && awbForm.controls['totalSeriesCount'].invalid" class="alert-danger">
                          <div *ngIf="awbForm.controls['totalSeriesCount'].errors && awbForm.controls['totalSeriesCount'].errors.required">Series Count is required.</div>
                          <div *ngIf="awbForm.controls['totalSeriesCount'].errors.pattern ">Series Count must be numbers</div>
                        </div>
                        <input type="number" class="form-control"  formControlName="totalSeriesCount" (keypress)="keyPress($event)">
                      </div>
                    </div>
                    <div class="col-lg-3 col-lg-offset-8"><br>
                      <div class="row">
                        <div class="col-lg-6"><button type="submit" class="btn btn-primary" >GENERATE</button></div>
                      </div>
                    </div>

                  </div>
                </form>
              </div>
            </div>
          </div>

        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
            <div class="pull-left">Download Awb Series</div>
            <div class="clearfix"></div>
          </div>
          <div class="panel-body">
            <div class="padd">
              <div class="form quick-post">
                <!-- Edit profile form (not working)-->
                <form class="form-horizontal">
                  <!-- Title -->
                  <div class="form-group">
                    <div class="row">
                      <div class="col-lg-3 col-lg-offset-1">
                        <label class="control-label">Series Type<span style="color:red">*</span></label>
                         <select class="form-control" name="seriesType" id="seriesType" (change)='onChangeSeriesType()'>
                          <option value="">- - Choose Series Type - -</option>
                          <option value="CLIENT">CLIENT</option>
                          <option value="COURIER">COURIER</option>
                        </select>
                      </div>
                      <div class="col-lg-3 col-lg-offset-1" *ngIf="isClientType">
                        <label class="control-label" >Client<span style="color:red">*</span></label>
                        <select class="form-control" name="client" id="client">
                          <option value="">- Choose Client -</option>
                          <option *ngFor="let item of clientList; let i = index" [value]="item.clientCode" >
                            {{item.clientCode}}
                          </option>
                        </select>
                      </div>
                      <div class="col-lg-3 col-lg-offset-1" *ngIf="isCourierType">
                        <label class="control-label">Courier<span style="color:red">*</span></label>
                        <select class="form-control" id="courier" name="courier">
                          <option value="">- Select Courier Code -</option>
                          <option *ngFor="let item of courierList; let i = index" [value]="item.courierCode">
                            {{item.courierName}}
                          </option>
                        </select>
                      </div>
                    </div>

                    <div class="col-lg-3 col-lg-offset-4"><br>
                      <div class="row">
                        <div class="col-lg-6"><button type="submit" class="btn btn-primary" (click)="onDownloadPendingAwbSeries()" >DOWNLOAD</button></div>
                      </div>
                    </div>

                  </div>
                </form>
              </div>
            </div>
          </div>

        </div>

      </div>
    </div>



  </section>

</section>
