<section id="main-content">
  <section class="wrapper">
    <!--overview start-->
    <div class="row">
      <!--Loader start hear-->
      <ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="large" color="#fff" type="ball-scale-multiple"
                   [fullScreen]="true"><p style="color: white"> Loading... </p></ngx-spinner>
      <div class="col-md-12 portlets">
        <div class="panel panel-default">
          <div class="panel-heading">
            <div class="pull-left">User&nbsp;&nbsp;&nbsp;&nbsp;
              <BUTTON *ngIf="isDisplay" class="btn btn-primary" (click)="addNew()">Add Record</BUTTON>&nbsp;&nbsp;&nbsp;&nbsp;
              <BUTTON *ngIf="isDisplay" class="btn btn-primary" (click)="onDownloadUserReport()">Download User</BUTTON>&nbsp;&nbsp;&nbsp;&nbsp;
              <BUTTON *ngIf="isDisplay" class="btn btn-primary" (click)="excalUpload()">Bulk Upload</BUTTON>&nbsp;&nbsp;&nbsp;&nbsp;
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="panel-body">
            <!--Bulk upload form start hear-->
            <div class="padd" *ngIf="isUpload">
              <div class="form quick-post">
                <!-- Edit profile form (not working)-->
                <form class="form-horizontal" [formGroup]="form" (ngSubmit)="onBulkUpload()">
                  <!-- Title -->
                  <div class="form-group">
                    <div class="row">
                      <div class="col-lg-2 col-lg-offset-1"> <span style="color:green;">Total Records = {{responseBody.totalRecord}}</span> </div>
                      <div class="col-lg-2"> <span style="color:green;">Success Records = {{responseBody.successRecord}}</span></div>
                      <div class="col-lg-3"> <span style="color:red;">Error Records = {{responseBody.errorRecord}}</span>
                      </div>
                      <div class="col-lg-4">
                        <div class="row">
                          <div class="col-lg-6">
                            <button [class.col-lg-6]="" type="button" class="btn btn-primary" (click)="downloadSuccessFile()">Download Success File</button>
                          </div>
                          <div class="col-lg-6">
                            <button type="button" class="btn btn-danger" (click)="downloadErrorFile()">Download Error File</button>
                          </div>
                        </div>
                      </div>
                    </div><br>
                    <!--Progress Bar start hear-->
                    <div class="row" *ngIf="isUploadStart">
                      <div class="col-lg-10 col-lg-offset-1">
                        <div class="progress" style="height: 20px;">
                          <div class="progress-bar progress-bar-striped progress-bar-animated" style="{{'width:' + uploadPresentage +'%'}}; height: 20px;"> {{uploadPresentage+'%'}}</div>
                        </div>
                      </div>
                    </div>
                    <!--Progress Bar end hear-->
                    <div class="row">
                      <div class="col-lg-2 col-lg-offset-1">
                        <div class="row">
                          <div class="col-lg-3">
                            <div><label class="control-label" for="title">isUpdate</label></div>
                          </div>
                          <div class="col-lg-3 col-lg-offset-1">
                            <input class="form-check-input" type="checkbox" value="false" formControlName="isUpdate"
                                   (change)="isCheck('UPDATE')">
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-4 ">
                        <label class="control-label" for="title">Select Upload File<span
                          style="color:red">*</span></label>
                        <input type="file" class="form-control" name="file" (change)="onFileChange($event)">
                      </div>
                      <div class="col-lg-4"><br>
                        <div class="row">
                          <div class="col-lg-6">
                            <button type="submit" class="btn btn-primary" [disabled]="isUploadButtonDisabled">Upload</button>
                          </div>
                          <div class="col-lg-6">
                            <button type="button" class="btn btn-primary" (click)="downloadTemplate()">Download Template
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                    <hr style="width:100%;text-align:left;margin-left:0">
                    <div class="form-group">
                      <div class="col-lg-offset-4 col-lg-7">
                        <button type="button" (click)="cancelButtonAction()" class="btn btn-close btn-default">Cancel</button>
                      </div>
                    </div>

                  </div>
                </form>

              </div>

            </div>

            <!--Add form start hear-->
            <div class="padd" *ngIf="isAdd">
              <div class="form quick-post">
                <form class="form-horizontal" [formGroup]="userForm" (ngSubmit)="onSubmit()">
                  <div class="form-group">

                    <div class="row" style="margin: auto">
                      <div class="col-lg-4">
                        <label class="control-label">Fisrt Name<span style="color:red">*</span></label>
                        <div *ngIf="userForm.controls['fisrtName'].touched && userForm.controls['fisrtName'].invalid" class="alert-danger">
                          <div *ngIf="userForm.controls['fisrtName'].errors && userForm.controls['fisrtName'].errors.required">First Name is required.
                          </div>
                        </div>
                        <input type="text" class="form-control" formControlName="fisrtName">
                      </div>
                      <div class="col-lg-4">
                        <label class="control-label">Last Name</label>
                        <input type="text" class="form-control" formControlName="lastName">
                      </div>
                      <div class="col-lg-4">
                        <label class="control-label">Login Id<span style="color:red">*</span></label>
                        <div *ngIf="userForm.controls['loginId'].touched && userForm.controls['loginId'].invalid" class="alert-danger">
                          <div *ngIf="userForm.controls['loginId'].errors && userForm.controls['loginId'].errors.required">LoginId is required.
                          </div>
                        </div>
                        <input type="text" class="form-control" formControlName="loginId">
                      </div>
                    </div>

                    <div class="row" style="margin: auto">
                      <div class="col-lg-4">
                        <label class="control-label">Password<span style="color:red">*</span></label>
                        <div *ngIf="userForm.controls['password'].touched && userForm.controls['password'].invalid"
                             class="alert-danger">
                          <div
                            *ngIf="userForm.controls['password'].errors && userForm.controls['password'].errors.required">
                            Password is required.
                          </div>
                        </div>
                        <input type="password" class="form-control" formControlName="password">
                      </div>

                      <div class="col-lg-4">
                        <label class="control-label">Mobile Number<span style="color:red">*</span></label>
                        <div *ngIf="userForm.controls['contact'].touched && userForm.controls['contact'].invalid"
                             class="alert-danger">
                          <div
                            *ngIf="userForm.controls['contact'].errors && userForm.controls['contact'].errors.required">
                            Contact is required.
                          </div>
                          <div
                            *ngIf="userForm.controls['contact'].errors.pattern || userForm.controls['contact'].errors.maxlength || userForm.controls['contact'].errors.minlength">
                            Contact number must be at least 10 numbers
                          </div>
                        </div>
                        <input type="text" class="form-control" formControlName="contact" (keypress)="keyPress($event)">
                      </div>
                      <div class="col-lg-4">
                        <label class="control-label">Gender<span style="color:red">*</span></label>
                        <div *ngIf="userForm.controls['gender'].touched && userForm.controls['gender'].invalid"
                             class="alert-danger">
                          <div
                            *ngIf="userForm.controls['gender'].errors && userForm.controls['gender'].errors.required">
                            Gender is required.
                          </div>
                        </div>
                        <select class="form-control" formControlName="gender">
                          <option value="">- - Choose Gender - -</option>
                          <option value="MALE">MALE</option>
                          <option value="FEMALE">FEMALE</option>
                        </select>
                      </div>
                    </div>

                    <div class="row" style="margin: auto">
                      <div class="col-lg-4">
                        <label class="control-label">Alternate Mobile Number</label>
                        <div
                          *ngIf="userForm.controls['alternateContact'].touched && userForm.controls['alternateContact'].invalid"
                          class="alert-danger">
                          <div
                            *ngIf="userForm.controls['alternateContact'].errors.pattern || userForm.controls['alternateContact'].errors.maxlength || userForm.controls['alternateContact'].errors.minlength">
                            Alternate contect must be at least 10 numbers
                          </div>
                        </div>
                        <input type="text" class="form-control" formControlName="alternateContact"
                               (keypress)="keyPress($event)">
                      </div>
                      <div class="col-lg-4">
                        <label class="control-label" for="title">User Type<span style="color:red">*</span></label>
                        <select class="form-control" formControlName="type"
                                (change)='onChangeUserType()'>
                          <option value="">- Choose User Type -</option>
                          <option value="CLIENT">CLIENT</option>
                          <option value="COURIER">COURIER</option>
                          <option value="COLOADER">COLOADER</option>
                          <option value="SELF">SELF</option>
                        </select>
                      </div>

                      <div class="col-lg-4">

                        <label [hidden]="!isUserTypeClient" class="control-label" for="title">Client Code<span style="color:red">*</span></label>
                        <label [hidden]="isUserTypeClient" class="control-label " for="title">Client Code</label>
                        <select class="form-control" formControlName="clientCode">
                          <option value="">- Choose service type -</option>
                          <option *ngFor="let item of clientList; let i = index" [value]="item.clientCode" >
                            {{item.clientName}}
                          </option>
                        </select>

                        <!--<ng-multiselect-dropdown name="clientCode" [placeholder]="'- Choose Client - '"
                                                 [settings]="clientCodeDropdownSettings" [data]="clientList"
                                                 formControlName="clientCode" [disabled]="disabled"
                                                 [(ngModel)]="selectedClientCode"
                                                 (onSelect)="onClientCodeSelect($event)">
                        </ng-multiselect-dropdown>-->

                      </div>
                    </div>

                    <div class="row" style="margin: auto">
                      <div class="col-lg-4">
                        <label class="control-label">Address<span style="color:red">*</span></label>
                        <div *ngIf="userForm.controls['address'].touched && userForm.controls['address'].invalid"
                             class="alert-danger">
                          <div
                            *ngIf="userForm.controls['address'].errors && userForm.controls['address'].errors.required">
                            Address is required.
                          </div>
                        </div>
                        <input type="text" class="form-control" formControlName="address">
                      </div>
                      <div class="col-lg-4">
                        <label class="control-label">Department</label>
                        <input type="text" class="form-control" formControlName="department">
                      </div>
                      <div class="col-lg-4">
                        <label class="control-label">Email</label>
                        <div *ngIf="userForm.controls['email'].errors?.pattern" class="text-danger">Please provide a
                          valid email address
                        </div>
                        <input type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" class="form-control"
                               formControlName="email">
                      </div>
                    </div>

                    <div class="row" style="margin: auto">
                      <div class="col-lg-4">
                        <label class="control-label">PAN Number<span style="color:red">*</span></label>
                        <div *ngIf="userForm.controls['panNumber'].touched && userForm.controls['panNumber'].invalid" class="alert-danger">
                          <div *ngIf="userForm.controls['panNumber'].errors && userForm.controls['panNumber'].errors.required">Pan Number is required.
                          </div>
                        </div>
                        <input type="text" class="form-control" formControlName="panNumber">
                      </div>
                      <div class="col-lg-4">
                        <label class="control-label">Aadhar Number<span style="color:red">*</span></label>
                        <div *ngIf="userForm.controls['aadharNumber'].touched && userForm.controls['aadharNumber'].invalid" class="alert-danger">
                          <div *ngIf="userForm.controls['aadharNumber'].errors && userForm.controls['aadharNumber'].errors.required">Aadhar Number is required.
                          </div>
                          <div *ngIf="userForm.controls['aadharNumber'].errors.pattern || userForm.controls['aadharNumber'].errors.maxlength || userForm.controls['aadharNumber'].errors.minlength">Aadhar Number must be at least 12 numbers
                          </div>
                        </div>
                        <input type="text" class="form-control" formControlName="aadharNumber" (keypress)="keyPress($event)">
                      </div>

                      <div class="col-lg-4">
                        <label class="control-label">Pincode<span style="color:red">*</span></label>
                        <div *ngIf="userForm.controls['pincode'].touched && userForm.controls['pincode'].invalid" class="alert-danger">
                          <div *ngIf="userForm.controls['pincode'].errors && userForm.controls['pincode'].errors.required">Pincode is required.
                          </div>
                          <div *ngIf="userForm.controls['pincode'].errors.pattern || userForm.controls['pincode'].errors.maxlength || userForm.controls['pincode'].errors.minlength">Pincode must be at least 6 numbers
                          </div>
                        </div>
                        <input type="text" class="form-control" formControlName="pincode" (keypress)="keyPress($event)" (keyup)="getCityStateCountryByPincode(false)">
                      </div>

                    </div>

                    <div class="row" style="margin: auto">
                      <div class="col-lg-4">
                        <label class="control-label" >City<span style="color:red">*</span></label>
                        <div *ngIf="userForm.controls['city'].touched && userForm.controls['city'].invalid" class="alert-danger">
                          <div *ngIf="userForm.controls['city'].errors && userForm.controls['city'].errors.required">City Name is required.</div></div>
                        <input type="text" readonly class="form-control"  formControlName="city" [(ngModel)]="pincodeDetails.city" value="{{pincodeDetails.city}}">
                      </div>
                      <div class="col-lg-4">
                        <label class="control-label" >State<span style="color:red">*</span></label>
                        <div *ngIf="userForm.controls['state'].touched && userForm.controls['state'].invalid" class="alert-danger">
                          <div *ngIf="userForm.controls['state'].errors && userForm.controls['state'].errors.required">State is required.</div></div>
                        <input type="text" readonly class="form-control"  formControlName="state" [(ngModel)]="pincodeDetails.state" value="{{pincodeDetails.state}}">
                      </div>
                      <div class="col-lg-4">
                        <label class="control-label" >Country<span style="color:red">*</span></label>
                        <div *ngIf="userForm.controls['country'].touched && userForm.controls['country'].invalid" class="alert-danger">
                          <div *ngIf="userForm.controls['country'].errors && userForm.controls['country'].errors.required">Country is required.</div></div>
                        <input type="text" readonly class="form-control"  formControlName="country" [(ngModel)]="pincodeDetails.country" value="{{pincodeDetails.country}}">
                      </div>
                    </div>


                    <div class="row" style="margin: auto">
                      <div class="col-lg-4">
                        <label class="control-label">Vehicle Number</label>
                        <input type="text" class="form-control" formControlName="vehicle">
                      </div>
                      <div class="col-lg-4">
                        <label class="control-label">Employee Code</label>
                        <input type="text" class="form-control" formControlName="employeeCode">
                      </div>

                      <div class="col-lg-4">
                        <label class="control-label" for="title">Branch</label>
                        <ng-multiselect-dropdown name="branch" [placeholder]="'- Choose Branch - '"
                                                 [settings]="branchDropdownSettings" [data]="branchList" formControlName="branch" [disabled]="disabled"
                                                 [(ngModel)]="selectedBranch" (onSelect)="onBranchSelect($event)">
                        </ng-multiselect-dropdown>
                      </div>

                    </div>


                    <div class="row" style="margin: auto">
                      <div class="col-lg-4">
                        <label class="control-label" for="title">Designation<span style="color:red">*</span></label>
                        <select class="form-control" formControlName="designation">
                          <option value="">- Choose designation -</option>
                          <option value="Operation">Operation</option>
                          <option value="Manager">Manager</option>
                          <option value="Client operation">Client operation</option>
                          <option value="Courier service">Courier service</option>
                          <option value="Field executive">Field executive</option>
                          <option value="Booking Agent">Booking Agent</option>
                          <option value="Sub Franchise">Sub Franchise</option>
                          <option value="Super franchise">Super franchise</option>
                          <option value="Operation Support">Operation Support</option>
                        </select>
                      </div>
                      <div class="col-lg-4">
                        <label class="control-label" for="title">Role</label>
                        <ng-multiselect-dropdown name="role" [placeholder]="'- Choose Role - '"
                                                 [settings]="dropdownSettings" [data]="roleList"
                                                 formControlName="role" [disabled]="disabled"
                                                 [(ngModel)]="selectedItems" (onSelect)="onItemSelect($event)">
                        </ng-multiselect-dropdown>
                      </div>
                      <div class="col-lg-4">
                        <label class="control-label">Lat Long</label>
                        <input type="text" class="form-control" formControlName="latLong">
                      </div>


                    </div>


                    <div class="row" style="margin: auto">
                      <div class="col-lg-4">
                        <label class="control-label">Company</label>
                        <input type="text" class="form-control" formControlName="company">
                      </div>
                      <div class="col-lg-4">
                        <div class="row">
                          <div class="col-lg-3"><br>
                            <div><label class="control-label" for="title">Admin</label></div>
                          </div>
                          <div class="col-lg-3"><br>
                            <input class="form-check-input" type="checkbox" value="false" formControlName="admin"
                                   (change)="isCheck('Admin')">
                          </div>
                        </div>
                      </div>
                    </div>


                  </div>

                  <div class="form-group">
                    <div class="col-lg-offset-5 col-lg-5">
                      <button type="submit" class="btn btn-primary" [disabled]="!userForm.valid">Save</button>&nbsp;&nbsp;&nbsp;
                      <button type="reset" class="btn btn-default">Reset</button>&nbsp;&nbsp;&nbsp;
                      <button type="button" (click)="cancelButtonAction()" class="btn btn-close btn-default">Cancel
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <!--Update form start hear-->
            <div class="padd" *ngIf="isUpdate">
              <div class="form quick-post">
                <form class="form-horizontal" [formGroup]="updateUserForm" (ngSubmit)="onUpdateSubmit()">
                  <div *ngIf="singleRecord.id">
                    <div class="form-group">
                      <div class="row">
                        <input readonly type="hidden" [(ngModel)]="singleRecord.id" formControlName="id" value={{singleRecord.id}}>
                      </div><br>

                      <div class="row" style="margin: auto">
                        <div class="col-lg-4">
                          <label class="control-label">Fisrt Name<span style="color:red">*</span></label>
                          <div *ngIf="updateUserForm.controls['fisrtName'].touched && updateUserForm.controls['fisrtName'].invalid" class="alert-danger">
                            <div *ngIf="updateUserForm.controls['fisrtName'].errors && updateUserForm.controls['fisrtName'].errors.required">First Name is required.
                            </div>
                          </div>
                          <input type="text" class="form-control" formControlName="fisrtName" [(ngModel)]="singleRecord.fisrtName" value={{singleRecord.fisrtName}}>
                        </div>
                        <div class="col-lg-4">
                          <label class="control-label">Last Name</label>
                          <input type="text" class="form-control" formControlName="lastName" [(ngModel)]="singleRecord.lastName" value={{singleRecord.lastName}}>
                        </div>
                        <div class="col-lg-4">
                          <label class="control-label">Login Id<span style="color:red">*</span></label>
                          <div *ngIf="updateUserForm.controls['loginId'].touched && updateUserForm.controls['loginId'].invalid" class="alert-danger">
                            <div *ngIf="updateUserForm.controls['loginId'].errors && updateUserForm.controls['loginId'].errors.required">LoginId is required.
                            </div>
                          </div>
                          <input type="text" class="form-control" formControlName="loginId" [(ngModel)]="singleRecord.loginId" value={{singleRecord.loginId}}>
                        </div>
                      </div>

                      <div class="row" style="margin: auto">
                        <div class="col-lg-4">
                          <label class="control-label">Password<span style="color:red">*</span></label>
                          <div *ngIf="updateUserForm.controls['password'].touched && updateUserForm.controls['password'].invalid"
                               class="alert-danger">
                            <div
                              *ngIf="updateUserForm.controls['password'].errors && updateUserForm.controls['password'].errors.required">
                              Password is required.
                            </div>
                          </div>
                          <input type="password" class="form-control" formControlName="password" [(ngModel)]="singleRecord.password" value={{singleRecord.password}}>
                        </div>

                        <div class="col-lg-4">
                          <label class="control-label">Mobile Number<span style="color:red">*</span></label>
                          <div *ngIf="updateUserForm.controls['contact'].touched && updateUserForm.controls['contact'].invalid"
                               class="alert-danger">
                            <div
                              *ngIf="updateUserForm.controls['contact'].errors && updateUserForm.controls['contact'].errors.required">
                              Contact is required.
                            </div>
                            <div
                              *ngIf="updateUserForm.controls['contact'].errors.pattern || updateUserForm.controls['contact'].errors.maxlength || updateUserForm.controls['contact'].errors.minlength">
                              Contact number must be at least 10 numbers
                            </div>
                          </div>
                          <input type="text" class="form-control" formControlName="contact" (keypress)="keyPress($event)" [(ngModel)]="singleRecord.contact" value={{singleRecord.contact}}>
                        </div>
                        <div class="col-lg-4">
                          <label class="control-label">Gender<span style="color:red">*</span></label>
                          <div *ngIf="updateUserForm.controls['gender'].touched && updateUserForm.controls['gender'].invalid"
                               class="alert-danger">
                            <div
                              *ngIf="updateUserForm.controls['gender'].errors && updateUserForm.controls['gender'].errors.required">
                              Gender is required.
                            </div>
                          </div>
                          <select class="form-control" formControlName="gender">
                            <option value="">- - Choose Gender - -</option>
                            <option value="MALE">MALE</option>
                            <option value="FEMALE">FEMALE</option>
                          </select>
                        </div>
                      </div>

                      <div class="row" style="margin: auto">
                        <div class="col-lg-4">
                          <label class="control-label">Alternate Mobile Number</label>
                          <div
                            *ngIf="updateUserForm.controls['alternateContact'].touched && updateUserForm.controls['alternateContact'].invalid"
                            class="alert-danger">
                            <div
                              *ngIf="updateUserForm.controls['alternateContact'].errors.pattern || updateUserForm.controls['alternateContact'].errors.maxlength || userForm.controls['alternateContact'].errors.minlength">
                              Alternate contect must be at least 10 numbers
                            </div>
                          </div>
                          <input type="text" class="form-control" formControlName="alternateContact"
                                 (keypress)="keyPress($event)" [(ngModel)]="singleRecord.alternateContact" value={{singleRecord.alternateContact}}>
                        </div>
                        <div class="col-lg-4">
                          <label class="control-label" for="title">User Type<span style="color:red">*</span></label>
                          <select class="form-control" formControlName="type"
                                  (change)='onChangeUserType()'>
                            <option value="">- Choose User Type -</option>
                            <option value="CLIENT">CLIENT</option>
                            <option value="COURIER">COURIER</option>
                            <option value="COLOADER">COLOADER</option>
                            <option value="SELF">SELF</option>
                          </select>
                        </div>

                        <div class="col-lg-4">

                          <label [hidden]="!isUserTypeClient" class="control-label" for="title">Client Code<span style="color:red">*</span></label>
                          <label [hidden]="isUserTypeClient" class="control-label " for="title">Client Code</label>
                          <select class="form-control" formControlName="clientCode" [(ngModel)]="singleRecord.clientCode" value={{singleRecord.warehouseCode}}>
                            <option value="">- Choose service type -</option>
                            <option *ngFor="let item of clientList; let i = index" [value]="item.clientCode" >
                              {{item.clientName}}
                            </option>
                          </select>

                         <!-- <ng-multiselect-dropdown name="clientCode" [placeholder]="'- Choose Client - '"
                                                   [settings]="clientCodeDropdownSettings" [data]="clientList"
                                                   formControlName="clientCode" [disabled]="disabled"
                                                   [(ngModel)]="selectedClientCode"
                                                   (onSelect)="onClientCodeSelect($event)">
                          </ng-multiselect-dropdown>-->

                          <!--<select class="form-control" formControlName="clientCode">
                            <option value="">- Choose Client -</option>
                            <option *ngFor="let item of clientList; let i = index" [value]="item.clientCode" >
                              {{item.clientName}}
                            </option>
                          </select>-->


                        </div>
                      </div>

                      <div class="row" style="margin: auto">
                        <div class="col-lg-4">
                          <label class="control-label">Address<span style="color:red">*</span></label>
                          <div *ngIf="updateUserForm.controls['address'].touched && updateUserForm.controls['address'].invalid"
                               class="alert-danger">
                            <div
                              *ngIf="updateUserForm.controls['address'].errors && updateUserForm.controls['address'].errors.required">
                              Address is required.
                            </div>
                          </div>
                          <input type="text" class="form-control" formControlName="address" [(ngModel)]="singleRecord.address" value={{singleRecord.address}}>
                        </div>
                        <div class="col-lg-4">
                          <label class="control-label">Department</label>
                          <input type="text" class="form-control" formControlName="department" [(ngModel)]="singleRecord.department" value={{singleRecord.department}}>
                        </div>
                        <div class="col-lg-4">
                          <label class="control-label">Email</label>
                          <div *ngIf="updateUserForm.controls['email'].errors?.pattern" class="text-danger">Please provide a
                            valid email address
                          </div>
                          <input type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" class="form-control"
                                 formControlName="email" [(ngModel)]="singleRecord.email" value={{singleRecord.email}}>
                        </div>
                      </div>

                      <div class="row" style="margin: auto">
                        <div class="col-lg-4">
                          <label class="control-label">PAN Number<span style="color:red">*</span></label>
                          <div *ngIf="updateUserForm.controls['panNumber'].touched && updateUserForm.controls['panNumber'].invalid" class="alert-danger">
                            <div *ngIf="updateUserForm.controls['panNumber'].errors && updateUserForm.controls['panNumber'].errors.required">Pan Number is required.
                            </div>
                          </div>
                          <input type="text" class="form-control" formControlName="panNumber" [(ngModel)]="singleRecord.panNumber" value={{singleRecord.panNumber}}>
                        </div>
                        <div class="col-lg-4">
                          <label class="control-label">Aadhar Number<span style="color:red">*</span></label>
                          <div *ngIf="updateUserForm.controls['aadharNumber'].touched && updateUserForm.controls['aadharNumber'].invalid" class="alert-danger">
                            <div *ngIf="updateUserForm.controls['aadharNumber'].errors && updateUserForm.controls['aadharNumber'].errors.required">Aadhar Number is required.
                            </div>
                            <div *ngIf="updateUserForm.controls['aadharNumber'].errors.pattern || updateUserForm.controls['aadharNumber'].errors.maxlength || updateUserForm.controls['aadharNumber'].errors.minlength">Aadhar Number must be at least 12 numbers
                            </div>
                          </div>
                          <input type="text" class="form-control" formControlName="aadharNumber" (keypress)="keyPress($event)" [(ngModel)]="singleRecord.aadharNumber" value={{singleRecord.aadharNumber}}>
                        </div>

                        <div class="col-lg-4">
                          <label class="control-label">Pincode<span style="color:red">*</span></label>
                          <div *ngIf="updateUserForm.controls['pincode'].touched && updateUserForm.controls['pincode'].invalid" class="alert-danger">
                            <div *ngIf="updateUserForm.controls['pincode'].errors && updateUserForm.controls['pincode'].errors.required">Pincode is required.
                            </div>
                            <div *ngIf="updateUserForm.controls['pincode'].errors.pattern || updateUserForm.controls['pincode'].errors.maxlength || updateUserForm.controls['pincode'].errors.minlength">Pincode must be at least 6 numbers
                            </div>
                          </div>
                          <input type="text" class="form-control" formControlName="pincode" (keypress)="keyPress($event)" (keyup)="getCityStateCountryByPincode(true)" [(ngModel)]="singleRecord.pincode" value={{singleRecord.pincode}}>
                        </div>

                      </div>

                      <div class="row" style="margin: auto">
                        <div class="col-lg-4">
                          <label class="control-label" >City<span style="color:red">*</span></label>
                          <div *ngIf="updateUserForm.controls['city'].touched && updateUserForm.controls['city'].invalid" class="alert-danger">
                            <div *ngIf="updateUserForm.controls['city'].errors && updateUserForm.controls['city'].errors.required">City Name is required.</div></div>
                          <input type="text" readonly class="form-control"  formControlName="city" [(ngModel)]="pincodeDetails.city" value="{{pincodeDetails.city}}">
                        </div>
                        <div class="col-lg-4">
                          <label class="control-label" >State<span style="color:red">*</span></label>
                          <div *ngIf="updateUserForm.controls['state'].touched && updateUserForm.controls['state'].invalid" class="alert-danger">
                            <div *ngIf="updateUserForm.controls['state'].errors && updateUserForm.controls['state'].errors.required">State is required.</div></div>
                          <input type="text" readonly class="form-control"  formControlName="state" [(ngModel)]="pincodeDetails.state" value="{{pincodeDetails.state}}">
                        </div>
                        <div class="col-lg-4">
                          <label class="control-label" >Country<span style="color:red">*</span></label>
                          <div *ngIf="updateUserForm.controls['country'].touched && updateUserForm.controls['country'].invalid" class="alert-danger">
                            <div *ngIf="updateUserForm.controls['country'].errors && updateUserForm.controls['country'].errors.required">Country is required.</div></div>
                          <input type="text" readonly class="form-control"  formControlName="country" [(ngModel)]="pincodeDetails.country" value="{{pincodeDetails.country}}">
                        </div>
                      </div>


                      <div class="row" style="margin: auto">
                        <div class="col-lg-4">
                          <label class="control-label">Vehicle Number</label>
                          <input type="text" class="form-control" formControlName="vehicle" [(ngModel)]="singleRecord.vehicle" value={{singleRecord.vehicle}}>
                        </div>
                        <div class="col-lg-4">
                          <label class="control-label">Employee Code</label>
                          <input type="text" class="form-control" formControlName="employeeCode" [(ngModel)]="singleRecord.employeeCode" value={{singleRecord.employeeCode}}>
                        </div>

                        <div class="col-lg-4">
                          <label class="control-label" for="title">Branch</label>
                          <ng-multiselect-dropdown name="branch" [placeholder]="'- Choose Branch - '"
                                                   [settings]="branchDropdownSettings" [data]="branchList" formControlName="branch" [disabled]="disabled"
                                                   [(ngModel)]="selectedBranch" (onSelect)="onBranchSelect($event)">
                          </ng-multiselect-dropdown>
                        </div>

                      </div>

                      <div class="row" style="margin: auto">
                        <div class="col-lg-4">
                          <label class="control-label" for="title">Designation<span style="color:red">*</span></label>
                          <select class="form-control" formControlName="designation">
                            <option value="">- Choose designation -</option>
                            <option value="Operation">Operation</option>
                            <option value="Manager">Manager</option>
                            <option value="Client operation">Client operation</option>
                            <option value="Courier service">Courier service</option>
                            <option value="Field executive">Field executive</option>
                            <option value="Booking Agent">Booking Agent</option>
                            <option value="Sub Franchise">Sub Franchise</option>
                            <option value="Super franchise">Super franchise</option>
                            <option value="Operation Support">Operation Support</option>
                          </select>
                        </div>
                        <div class="col-lg-4">
                          <label class="control-label" for="title">Role</label>
                          <ng-multiselect-dropdown name="role" [placeholder]="'- Choose Role - '"
                                                   [settings]="dropdownSettings" [data]="roleList"
                                                   formControlName="role" [disabled]="disabled"
                                                   [(ngModel)]="selectedItems" (onSelect)="onItemSelect($event)">
                          </ng-multiselect-dropdown>
                        </div>
                        <div class="col-lg-4">
                          <label class="control-label">Lat Long</label>
                          <input type="text" class="form-control" formControlName="latLong" [(ngModel)]="singleRecord.latLong" value={{singleRecord.latLong}}>
                        </div>
                      </div>

                      <div class="row" style="margin: auto">
                        <div class="col-lg-4">
                          <label class="control-label">Company</label>
                          <input type="text" class="form-control" formControlName="company">
                        </div>
                        <div class="col-lg-4">
                          <label class="control-label">Active<span style="color:red">*</span></label>
                          <div
                            *ngIf="updateUserForm.controls['active'].touched && updateUserForm.controls['active'].invalid"
                            class="alert-danger">
                            <div
                              *ngIf="updateUserForm.controls['active'].errors && updateUserForm.controls['active'].errors.required">
                              active is required.
                            </div>
                          </div>
                          <input type="text" class="form-control" formControlName="active"
                                 [(ngModel)]="singleRecord.active" value={{singleRecord.active}}>
                        </div>

                        <div class="col-lg-4">
                          <div class="row">
                            <div class="col-lg-3"><br>
                              <div><label class="control-label" for="title">Admin</label></div>
                            </div>
                            <div class="col-lg-3"><br>
                              <input class="form-check-input" type="checkbox" value="false" formControlName="admin"
                                     (change)="isCheck('Admin')" [(ngModel)]="singleRecord.admin" value={{singleRecord.admin}}>
                            </div>
                          </div>
                        </div>
                      </div>

                    </div>
                    <div class="form-group">
                      <div class="col-lg-offset-2 col-lg-9">
                        <button type="submit" class="btn btn-primary">update</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <button type="button" (click)="cancelButtonAction()" class="btn btn-close btn-default">Cancel
                        </button>
                      </div>
                    </div>
                  </div>
                </form>

              </div>
            </div>
            <!--Table start hear-->

            <div class="padd table-responsive" [hidden]="!isDisplay">
              <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
                     class=" table table-striped table-condensed table-bordered table-hover display dataTable"
                     cellspacing="0" style="width:100%;">
                <thead>
                <tr class="text-center" style="background-color: #1a2732; color: #ffffff; height: 40px;">
                  <th>ID</th>
                  <th>Fisrt Name</th>
                  <th>Last Name</th>
                  <th>LoginId</th>
                  <th>Contact</th>
                  <th>User Type</th>
                  <th>Department</th>
                  <th>Address</th>
                  <th>Branch</th>
                  <th>Active</th>
                  <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let item of users">
                  <td>{{ item.id }}</td>
                  <td>{{ item.fisrtName}}</td>
                  <td>{{ item.lastName }}</td>
                  <td>{{ item.loginId }}</td>
                  <td>{{ item.contact }}</td>
                  <td>{{ item.type }}</td>
                  <td>{{ item.department }}</td>
                  <td>{{ item.address }}</td>
                  <td>{{ item.branch.name}}</td>
                  <td>{{ item.active }}</td>
                  <td>
                    <a href="javascript:;" (click)="updateRecords(item.id)"><i class="fa fa-pencil" title="Edit"
                                                                               aria-hidden="true"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;<a href="javascript:;" (click)="deleteRecords(item.id)"><i class="fa fa-trash-o"
                                                                                     title="Delete"
                                                                                     aria-hidden="true"></i></a>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>

</section>
