<section id="main-content">
  <section class="wrapper">
    <!--overview start-->
    <div class="row">
      <!--Loader start hear-->
      <ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "large" color = "#fff" type = "ball-scale-multiple" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>
      <div class="col-md-12 portlets">
        <div class="panel panel-default">
          <div class="panel-heading">
            <div class="pull-left">Service Type
              <BUTTON *ngIf="isDisplay" class="btn btn-primary" (click)="addNew()">Add Record</BUTTON>
              <!--<button *ngIf="isDisplay" class="btn btn-default"> <a href="#"  (click)="addNew()">Add  Record</a></button>&nbsp;-->
              <!-- <button *ngIf="isFirst" class="btn btn-default"> <a href="#" (click)="addNew()">Add  Record</a></button>&nbsp;-->
              <!-- <button *ngIf="isAdd" class="btn btn-default"> <a href="#" (click)="showRecords()">Show  Records</a></button>-->
            </div>

            <div class="clearfix"></div>
          </div>
          <div class="panel-body">
            <!--Add form start hear-->
            <div class="padd" *ngIf="isAdd">
              <div class="form quick-post">
                <!-- Edit profile form (not working)-->
                <form class="form-horizontal" [formGroup]="serviceTypeForm" (ngSubmit)="onSubmit()" >
                  <!-- Title -->
                  <div class="form-group">
                    <div class="row">
                      <label class="control-label col-lg-3" for="title">Service ID<span style="color:#ff0000">*</span></label>
                      <div class="col-lg-3">
                        <input type="text" class="form-control"  formControlName="serviceCode">
                      </div>
                      <div *ngIf="serviceTypeForm.controls['serviceCode'].touched && serviceTypeForm.controls['serviceCode'].invalid" class="alert-danger">
                        <div *ngIf="serviceTypeForm.controls['serviceCode'].errors && serviceTypeForm.controls['serviceCode'].errors.required"> ServiceCode is required.</div>
                      </div>
                    </div><br>
                    <div class="row">
                      <label class="control-label col-lg-3" for="title">Service Name<span style="color:#ff0000">*</span></label>
                      <div class="col-lg-3">
                        <input type="text" class="form-control"  formControlName="serviceName">
                      </div>
                      <div *ngIf="serviceTypeForm.controls['serviceName'].touched && serviceTypeForm.controls['serviceName'].invalid" class="alert-danger">
                        <div *ngIf="serviceTypeForm.controls['serviceName'].errors && serviceTypeForm.controls['serviceName'].errors.required"> Service Name is required.</div>
                      </div>
                    </div><br>
                    <div class="row">
                      <label class="control-label col-lg-3" for="title">Extra</label>
                      <div class="col-lg-3">
                        <input type="text" class="form-control"  formControlName="extra">
                      </div>
                    </div>
                  </div>
                  <!-- Content -->
                  <!-- Buttons -->
                  <div class="form-group">
                    <!-- Buttons -->
                    <div class="col-lg-offset-2 col-lg-9">
                      <button type="submit" class="btn btn-primary"[disabled]="!serviceTypeForm.valid">Save</button>&nbsp;&nbsp;&nbsp;
                      <button type="reset" class="btn btn-default">Reset</button>&nbsp;&nbsp;&nbsp;
                      <button type="button" (click)="cancelButtonAction()" class="btn btn-close btn-default">Cancel</button>
                    </div>
                  </div>
                </form>
              </div>

            </div>
            <!--Update form start hear-->
            <div class="padd" *ngIf="isUpdate">
              <div class="form quick-post">
                <form class="form-horizontal" [formGroup]="updateServiceTypeForm" (ngSubmit)="onUpdateSubmit()">
                  <div *ngIf="singleRecord.id">
                    <div class="form-group">
                      <!--Object id is hidden-->
                      <div class="row">
                        <input readonly type="hidden"  [(ngModel)]="singleRecord.id" formControlName="id" value={{singleRecord.id}}>
                      </div>

                      <div class="row">
                        <label class="control-label col-lg-3" for="title">Service Id<span style="color:red">*</span></label>
                        <div class="col-lg-3">
                          <input type="text" class="form-control" id="serviceCode" formControlName="serviceCode" [(ngModel)]="singleRecord.serviceCode" value={{singleRecord.serviceCode}}>
                        </div>
                        <div *ngIf="updateServiceTypeForm.controls['serviceCode'].touched && updateServiceTypeForm.controls['serviceCode'].invalid" class="alert-danger">
                          <div *ngIf="updateServiceTypeForm.controls['serviceCode'].errors && updateServiceTypeForm.controls['serviceCode'].errors.required"> Service Code is required.</div>
                        </div>
                      </div><br>
                      <div class="row">
                        <label class="control-label col-lg-3" for="title">Service Name<span style="color:red">*</span></label>
                        <div class="col-lg-3">
                          <input type="text" class="form-control" id="serviceName" formControlName="serviceName" [(ngModel)]="singleRecord.serviceName" value={{singleRecord.serviceName}}>
                        </div>
                        <div *ngIf="updateServiceTypeForm.controls['serviceName'].touched && updateServiceTypeForm.controls['serviceName'].invalid" class="alert-danger">
                          <div *ngIf="updateServiceTypeForm.controls['serviceName'].errors && updateServiceTypeForm.controls['serviceName'].errors.required"> Service Name is required.</div>
                        </div>
                      </div><br>
                      <div class="row">
                        <label class="control-label col-lg-3" for="title">Extra</label>
                        <div class="col-lg-3">
                          <input type="text" class="form-control" id="extra" formControlName="extra" [(ngModel)]="singleRecord.extra" value={{singleRecord.extra}}>
                        </div>
                      </div><br>
                      <div class="row">
                        <label class="control-label col-lg-3" for="title">Active<span style="color:red">*</span></label>
                        <div class="col-lg-3">
                          <input type="number" class="form-control" id="active" formControlName="active" [(ngModel)]="singleRecord.active" value={{singleRecord.active}}>
                        </div>
                        <div *ngIf="updateServiceTypeForm.controls['active'].touched && updateServiceTypeForm.controls['active'].invalid" class="alert-danger">
                          <div *ngIf="updateServiceTypeForm.controls['active'].errors && updateServiceTypeForm.controls['active'].errors.required">Active is required.</div>
                        </div>
                      </div>
                    </div>
                    <!-- Content -->
                    <!-- Buttons -->
                    <div class="form-group">
                      <div class="col-lg-offset-2 col-lg-9">
                        <button type="submit" class="btn btn-primary">update</button>&nbsp;&nbsp;&nbsp;&nbsp;
                        <button type="button" (click)="cancelButtonAction()" class="btn btn-close btn-default">Cancel</button>
                      </div>
                    </div>
                  </div>
                </form>
              </div>

            </div>
            <!--Table start hear-->

            <div class="padd table-responsive" [hidden]="!isDisplay">
              <table  datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class=" table table-striped table-condensed table-bordered table-hover display dataTable" cellspacing="0" style="width:100%;">
                <thead>
                <tr class="text-center" style="background-color: #1a2732; color: #ffffff; height: 40px;">
                  <th>ID</th>
                  <th>Service Id</th>
                  <th>Service Name</th>
                  <th>Extra</th>
                  <th>Active</th>
                  <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let item of servicetypes">
                  <td>{{ item.id }}</td>
                  <td>{{ item.serviceCode }}</td>
                  <td>{{ item.serviceName }}</td>
                  <td>{{ item.extra }}</td>
                  <td>{{ item.active }}</td>
                  <td>
                    <a href="javascript:;" (click)="updateRecords(item.id)"><i class="fa fa-pencil" title="Edit" aria-hidden="true"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;<a href="javascript:;" (click)="deleteRecords(item.id)"><i class="fa fa-trash-o" title="Delete" aria-hidden="true"></i></a>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>

          </div>
        </div>

      </div>
    </div>



  </section>

</section>
